@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

<h3>仪器比对报告生成程序</h3>
<h6>使用说明</h6>

<hr />

<div class="col-12">
    <p>程序流程图</p>
    <img src="~/Pictures/报告生成器流程图.svg" />
</div>

<hr />

<div class="col-12">
    <p>原始数据要求</p>
    <ol>
        <li>上传文件的格式必须为csv格式</li>
        <li>其中A列为样品编号，B列为结果</li>
        <li>比对样品编号不能重复，以字母<strong>BD</strong>开头</li>
    </ol>
    例如:
    <table class="table table-bordered col-md-4 table-sm">
        <tr>
            <td></td>
            <td>A列</td>
            <td>B列</td>
        </tr>
        <tr>
            <td>1</td>
            <td>实验号</td>
            <td>结果</td>
        </tr>
        <tr>
            <td>2</td>
            <td>BD1</td>
            <td>（结果）</td>
        </tr>
        <tr>
            <td>3</td>
            <td>BD2</td>
            <td>（结果）</td>
        </tr>
        <tr>
            <td>4</td>
            <td>... ...</td>
            <td></td>
        </tr>
    </table>
</div>

<hr />

<div class="col-12">
    <p>各页面功能</p>
    首页：
    <ol>
        <li>流程图和使用说明；</li>
        <li>登录功能：用于管理员登录；</li>
        <li>登出功能。</li>
    </ol>
    定量项目仪器比对报告页面：
    <ol>
        <li>搜索功能：可按报告状态和比对项目对报告进行搜索；</li>
        <li>新建功能：单击后跳转至提交页面，用于上传数据生成报告；</li>
        <li>编辑功能：单击后跳转至编辑页面，可对待审核报告进行编辑；</li>
        <li>预览功能：单击后跳转至预览页面，可对报告进行预览和打印（使用浏览器自带的功能）；</li>
        <li>审核功能：单击后跳转至审核页面，需要管理员权限，可对待审核报告进行审核；</li>
        <li>删除功能：单击后跳转至删除页面，删除待审核报告无需权限，删除已审核报告需要管理员权限。</li>
    </ol>
    项目参数设置页面：
    <ol>
        <li>参数设置需要管理员权限；</li>
        <li>新建功能；</li>
        <li>编辑功能；</li>
        <li>删除功能。</li>
    </ol>
</div>