@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

<h3>仪器比对报告生成程序</h3>

@*<hr />

    <div class="col-12">
        <p>程序流程图</p>
        <img src="~/Pictures/报告生成器流程图.svg" />
    </div>

    <hr />

    <div class="col-12">
        <p>数据上传要求</p>
        <ol>
            <li>使用提交界面提供的模板进行上传</li>
            <li>比对样品编号不能重复，以字母<strong>BD</strong>开头</li>
        </ol>
    </div>

    <hr />*@

<object type="application/pdf"
        data="/操作手册.pdf"
        width="1100"
        height="745">
    当前浏览器不支持查看该手册，请<a href="~/操作手册.pdf">下载</a>后查看。
</object>

@*<div class="col-12">
        <p>各页面功能说明</p>
        首页：
        <ol>
            <li>流程图和说明；</li>
            <li>登录功能：用于管理员登录；</li>
            <li>登出功能：用于管理员登出。</li>
        </ol>
        定量项目仪器比对报告页面：
        <ol>
            <li>搜索功能：可按报告状态和比对项目对报告进行搜索；</li>
            <li>新建功能：单击后跳转至提交页面，用于上传数据生成报告；</li>
            <li>编辑功能：单击后跳转至编辑页面，可对待审核报告进行编辑；</li>
            <li>预览功能：单击后跳转至预览页面，可对报告进行预览和打印（使用浏览器自带的功能）；</li>
            <li>审核功能：单击后跳转至审核页面，需要管理员权限，可对待审核报告进行审核；</li>
            <li>删除功能：单击后跳转至删除页面，删除待审核报告无需权限，删除已审核报告需要管理员权限。</li>
        </ol>
        项目参数设置页面：
        <ol>
            <li>参数设置需要管理员权限；</li>
            <li>新建功能；</li>
            <li>编辑功能；</li>
            <li>删除功能。</li>
        </ol>
        提交页面：
        <ol>
            <li>用于提交数据至后台进行报告生成；</li>
            <li>比对项目：可选择一个在项目参数设置页面中已设置的项目；</li>
            <li>靶仪器/比对仪器编号：输入对应的仪器编号，用于程序生成报告中的仪器编号；</li>
            <li>仪器数据：程序提供了一个数据上传模板文件，请下载后在模板中填写数据后上传；</li>
            <li>报告模板：目前只提供了一个仪器比对报告模板。</li>
        </ol>
    </div>*@
