@page
@model ReportGenerator.Pages.QuantitativeReports.CreateModel
@{
    ViewData["Title"] = "提交";

}

<div class="col-12 col-xl-4">
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <h3 class="h3 text-danger">警告： @Model.Message</h3>
    }
    <br />
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-form-label">比对项目</label>
            <input class="form-control" type="text" list="item" asp-for="Upload.Item" autocomplete="off" />
            <datalist id="item">
                @if (Model.Options != null)
                {
                    @foreach (var option in Model.Options)
                    {
                        <option value=@option>@option</option>
                    }
                }
            </datalist>
            <span asp-validation-for="Upload.Item" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label">靶仪器编号</label>
            <input class="form-control" type="text" asp-for="Upload.TargetNum" placeholder="" />
            <span asp-validation-for="Upload.TargetNum" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label">比对仪器编号</label>
            <input class="form-control" type="text" asp-for="Upload.MatchNum" placeholder="" />
            <span asp-validation-for="Upload.MatchNum" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label">仪器数据<a download="仪器比对上传模板.csv" href="~/仪器比对上传模板.csv">（模板下载）</a></label>
            <input class="form-control-file" type="file" asp-for="Upload.DataFile" />
            <span asp-validation-for="Upload.DataFile" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label">报告模板</label>
            <select class="form-control" asp-for="Upload.Template">
                <option value="1">仪器比对模板一</option>
            </select>
            <span asp-validation-for="Upload.Template" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" />
        </div>
    </form>
</div>
<div>
    <p>建议同时将仪器数据导入MedCalc中进行计算，与本程序计算的结果进行比对，如果有不一致的情况请及时告知，谢谢！</p>
</div>
