@page
@model ReportGenerator.Pages.UploadModel
@{
    ViewData["Title"] = "提交";

}

<div class="col-md-4 offset-md-4">
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <h3 class="h3 text-danger">警告： @Model.Message</h3>
    }

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-form-label">比对项目:</label>
            <input class="form-control" type="text" list="item" asp-for="UploadForm.Item" />
            <datalist id="item">
                @foreach (var option in Model.options)
                {
                    <option value=@option>@option</option>
                }
            </datalist>
            <span asp-validation-for="UploadForm.Item" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label">靶仪器数据：</label>
            <input class="form-control-file" type="file" asp-for="UploadForm.TargetFile" />
            <span asp-validation-for="UploadForm.TargetFile" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label">比对仪器数据：</label>
            <input class="form-control-file" type="file" asp-for="UploadForm.MatchFile" />
            <span asp-validation-for="UploadForm.MatchFile" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label">报告模板：</label>
            <select class="form-control" asp-for="UploadForm.Template">
                <option value="1">仪器比对模板一</option>
                @*<option value="2">仪器比对模板二</option>*@
            </select>
            <span asp-validation-for="UploadForm.Template" class="text-danger"></span>
        </div>

        <input class="btn btn-info" type="submit" />
    </form>
</div>